body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.title{
  margin-bottom: 0;
  text-align: center;
  letter-spacing: 7px;
  color: #CFD8DC;
  font-size: 45px;
  background: #455A64;
}

.col-md-4{
  text-align: center;
  color: whitesmoke;
  letter-spacing: 3px;
}


.temp{
  background:#F44336;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ph{
  background:#009688;
  display: flex;
  align-items: center;
  justify-content: center;
}
.light{
  background:#FBC02D;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dark{
  background:#17202A;
  display: flex;
  align-items: center;
  justify-content: center;
}

.titleCard{
  margin-left: 7px;
  font-family: "Lucida Console", Times, Monospace;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.icon{
  font-size: 150px;

}

.info{
  display: flex;
  flex-direction: column;
}

.valueCard{
  font-size: 70px;
}